@model IBlog.Entities.Blogs
<div class="container">
    <article class="row mb-4">
        <div class="col-lg-10 mx-auto mb-4">
            <h1 class="h2 mb-3">@Model.Name</h1>
            <ul class="list-inline post-meta mb-3">
                <li class="list-inline-item">
                    <i class="ti-user mr-2"></i><a href="/authors/@Model.User.Id">
                        @Model.User.Name @Model.User.Surname
                    </a>
                </li>
                <li class="list-inline-item">Yayınlanma Tarihi : @Model.PublishDateTime</li>
                <li class="list-inline-item">
                    Kategori : <a href="#!" class="ml-1">@Model.Categories.Name </a>
                </li>
                <li class="list-inline-item">
                    <i class="ti-comments mr-2"></i>
                    Yorum  : @Model.Comments.Count
                </li>
            </ul>
        </div>
        <div class="col-9 mb-3 container">
            <div class="post-slider">
                @foreach (var images in Model.Images)
                {
                    <img style="width:200px;height:400px;" src="/images/@images.Name" class="img-fluid" alt="post-thumb">
                }
            </div>
        </div>
        <div class="col-lg-10 mx-auto">
            <div class="content">
                <p>@Model.Explanation</p>
            </div>
        </div>
    </article>
</div>


<div class="col-lg-12">
    <h2>Yorumlar:</h2>
    @if (Model.Comments != null && Model.Comments.Count > 0)
    {
        @foreach (var comments in Model.Comments)
        {
            <div class="social-feed-box table-bordered rounded " style="padding:10px 10px 5px 10px; margin-bottom:10px;">
                <div class="social-avatar">
                    <img style="width:78px;height:78px;" alt="image" src="/images/@comments.User.AvatarImage">
                    <div class="media-body">
                        <a href="/authors/@comments.User.Id">
                            @comments.User.Name @comments.User.Surname
                        </a>
                        <small class="text-muted">@comments.CreationDate</small>
                    </div>
                </div>
                <div class="social-body">
                    <p>
                        @comments.Comment
                    </p>
                </div>
            </div>
        }

    }
    else
    {
        <div class="social-feed-box" style="padding:10px 10px 5px 10px; margin-bottom:10px;">
            <div class="social-body text-center">
                <h5>İlk Yorumu Yap</h5>
            </div>
        </div>
    }
    @if (ViewBag.UserInfo.Id != null)
    {
        <form method="post" action="/Comments/InsertComment">
            <input name="BlogId" value="@Model.Id" hidden />
            <div class="form-group">
                <h4>Yorum Yap:</h4>
                <div>
                    <textarea class="form-control embed-responsive-item" name="Comment" style="resize:none;"></textarea>
                </div>
            </div>
            <div class="form-group">
                <div class="col-lg-offset-2 col-lg-12">
                    <button class="btn btn-success float-right right" type="submit">Gönder</button>
                </div>
            </div>
        </form>
    }
    else
    {
        <div class="social-feed-box" style="padding:10px 10px 5px 10px; margin-bottom:10px;">
            <div class="social-body text-center">
                <h4>Yorum Yapmak İçin Giriş Yapınız</h4>
            </div>
        </div>
    }
</div>
